---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

# Probability and Statistics for Engineers, CS 3130-01 and ECE 3530-01, Spring 2024
<i>Instructor </i> : <b>Dr. Ross T. Whitaker </b>

# Image Processing, CS 6640, Fall 2023
<i>Instructor </i> : <b>Dr. Ross T. Whitaker </b>

# 3D Computer Vision, CS 6320/5320, Spring 2020
<i>Instructor </i> : <b>Dr. Tucker Hermans </b>

# Deep Learning, CS 6955/5955 and MATH 7960, Fall 2019
<i>Instructor </i> : <b>Dr. Berton A. Earnshaw </b>

<!---
{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
-->
